<html>
<head>
  <title>Invoice: <%= @invoice.id %></title>
  <link rel='stylesheet' href='/invoices/invoice-edit.css'>
</head>
<body>
  <div class="navbar">
    <h3>Little Shop</h3>
    <div class='first'><h3><a href='/merchants'>Merchants</a></h3></div>
    <div class='second'><a href='/items'><h3>Items</h3></a></div>
    <div class='third'><a href='/invoices'><h3>Invoices</h3></a></div>
  </div>
  <div class='header'>
    <h1>Invoice: <%= @invoice.id %> - <%= @invoice.status.capitalize %></h1>
  </div>
  <div class='main-grid'>
    <div class='input-field'>
      <div class='bottom buttons'>
        <input type='hidden' name='_method' value="PUT" />
        <input type='text' name='invoice[id]' value='<%= @invoice.id %>' />
        <form action="/invoices/<%= @invoice.id %>" method="POST">
          <input type="submit" value='Update Invoice'/>
        </form>
        <a class='cancel-button' href="/invoices">Cancel</a>
      </div>
    </div>
    <div class='invoice-item-grid'>
      <div class='index'>
        <div class='index-instance'>
            <p>Item ID</th>
            <p>Item Title</p>
            <p>Quantity</p>
            <p>Unit Price</p>
        </div>
          <% @invoice_items.each do |invoice_item| %>
            <div class='index-instance'>
            <a href='/items/<%=invoice_item.item_id%>'><p><%= invoice_item.item_id %></p></a>
            <p><%= invoice_item.item.name %></p>
            <p><%= invoice_item.quantity %></p>
            <p><%= invoice_item.unit_price.to_s.insert(-3, ".") %></p>
          </div>
        <% end %>
      </div>
    </div>

</div>
</body>
</html>
