<h1>Invoice No.: <%= @invoice.id %></h1>
  <h3>Total Price: $<%= '%.2f' % (@invoice.get_total_price(@invoice.id).to_f/100) %></h3>
  <% @invoice.invoice_items.each do |invoice_item|%>
    <p>Item ID: <%= invoice_item.item_id %> </p>
    <p>Item Name: <%= %> </p>
    <p> Item Quantity: <%= invoice_item.quantity %></p>
    <p> Item Price: <%= invoice_item.unit_price.to_s.insert(-3, ".") %> </p>
  <% end %>
<a href="/invoices/<%= @invoice.id %>/edit"><button>Edit</button></a>
<form action='/invoices/<%= @invoice.id %>' method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type='submit' value='Delete' />
</form>
<a href="/invoices"> Invoices Index </a>
