<html>
<head>
  <link rel='stylesheet' href='/public/items/item_index.css'>
  <title>Items Index</title>
</head>
<body>
<h1>Items</h1>
<a href='/items/new'> New Item </a>
<% @items.each do |item| %>
<h2><a href="/items/<%= item.id %>"><%= item.name %></a></h2>
<p><%= item.description %></p>
<p><%= item.unit_price %></p>
<p><%= item.image %></p>
<a href="/items/<%= item.id %>/edit"><button>EDIT</button></a>
<form action='/items/<%=item.id%>' method='POST'>
  <input type='hidden' name='_method' value='DELETE'>
  <input type='submit' v '>
</form>
<% end %>
</body>
</html>
